<nav class="navbar navbar-expand-lg bg-black navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LIBRERIA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/libros/mostrar">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autores/mostrar">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editoriales/mostrar">Editoriales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prestamos/mostrar">Prestamos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clientes/mostrar">Clientes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Código para agregar en cada plantilla-->
<!--NAVIGATION-->
<!--
<nav th:replace="/fragments/navbar :: nav"></nav>
-->
