<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Libreria - Inicio</title>
    <head th:replace="/fragments/head :: head"></head>
</head>
<body>

    <nav th:replace="/fragments/navbar :: nav"></nav>

    <section class="text-center text-light centrar">
        <!--<img class="img-fluid" src="../img/libro.jpg" alt="Libros"/>-->
        <h1 class="titulo font-monospace t-stroke t-shadow-halftone glitch" data-text="¡Bienvenidos a la Libreria!">¡Bienvenidos a la Libreria!</h1>
        <h2>
            <a class="enlaces-sub" href="/libros/mostrar">Libros</a>
            | 
            <a class="enlaces-sub" href="/autores/mostrar">Autores</a>
            | 
            <a class="enlaces-sub" href="/editoriales/mostrar">Editoriales</a>
        </h2>
        <h2>
            <a class="enlaces-sub" href="/prestamos/mostrar">Prestamos</a>
            | 
            <a class="enlaces-sub" href="/clientes/mostrar">Clientes</a>
        </h2>
    </section>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"
    ></script>
</body>
</html>