<!--<footer class="w-100 bg-dark d-flex justify-content-center pie position-absolute bottom-0">
    <p class="w-100 text-center text-white small">
      Copyright &copy; Your Website 2023 - Lucas Aramberry
    </p>
  </footer>-->

<footer class="bg-dark" id="piePag">

    <div class="d-flex">
        <p>Copyright © 2023 Libreria</p><p>Todos los derechos reservados.</p>
    </div>

    <section id="enlacesFooter">
        <ul>
            <a href="#"><li class="liFooter">Politica de privacidad</li></a>
            <a href="#"><li class="liFooter">Terminos y condiciones</li></a>
        </ul>
    </section>

</footer>
<!--Código para agregar en cada plantilla-->
<!--NAVIGATION-->
<!--
<footer th:replace="/fragments/footer :: footer"></footer>
-->