<footer class="w-100 bg-dark d-flex justify-content-center pie bottom-0">
    <div>
        <p class="w-100 text-center text-white small">
            Copyright &copy; Your Website 2023 - Lucas Aramberry
        </p>
        <ul class="enlacesFooter">
            <a href="#"><li class="liFooter">Politica de privacidad</li></a>
            <a href="#"><li class="liFooter">Terminos y condiciones</li></a>
        </ul>
    </div>
</footer>

<!--Código para agregar en cada plantilla-->
<!--NAVIGATION-->
<!--
<footer th:replace="/fragments/footer :: footer"></footer>
-->