<nav class="navbar navbar-expand-lg bg-black navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LIBRERIA</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <!--  desplegable     
                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Link
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/libros/mostrar">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autores/mostrar">Autores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editoriales/mostrar">Editoriales</a>
                </li>
                <!--                <li class="nav-item">
                                    <a class="nav-link" href="/prestamos/mostrar">Prestamos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/clientes/mostrar">Clientes</a>
                                </li>-->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registrate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Ingresa</a>
                </li>
                <!-- Esta se muestra solo cuando el usuario ingresa y el ingresa y registrate deben desaparecer  -->
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Salir</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!--Código para agregar en cada plantilla-->
<!--NAVIGATION-->
<!--
<nav th:replace="/fragments/navbar :: nav"></nav>
-->
