<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Libreria - Autores</title>
    <head th:replace="/fragments/head :: head"></head>
</head>
<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <!--SECCION USUARIO-->
    <!--<div sec:authorize="hasRole('USUARIO')">-->

    <!--FILTRAR-->
    <div class="filtrar bg-dark text-white">
        <div><h5>Buscar libro por Autor</h5></div>
        <div>
            <form action="/autores" method="GET" enctype="multipart/form-data">
                <select class="filtrar-select" name="idAutor">
                    <option th:if="${autorSelected} == null" selected disabled value="">Seleccionar</option>
                    <option th:if="${autorSelected} != null" selected th:value="${autorSelected.id}"><span th:text="${autorSelected.nombre}"></span></option>
                    <option th:each="autor : ${autoresA}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                </select>
                <div class="filtrar-boton">
                    <button th:if="${autorSelected} != null" type="submit" class="btn btn-dark" formaction="/autores" formmethod="GET">Borrar filtro</button>
                    <button type="submit" class="btn btn-warning">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    
    <div sec:authorize="hasRole('ADMIN')" class="form-group2 centrar-boton text-center">
        <a href="/autores/registro" class="btn btn-dark" tabindex="-1" role="button">Agregar autor</a>
    </div>

    <div class="contenedor">
        <div class="contenedorHijo" th:each="autor : ${autores}">
            <div class="card mb-3 bg-dark text-white">
                <div class="row g-0">
                    <div class="col-md-4 imagen-card">
                        <img th:src="@{'/foto/autor/' + ${autor.id}}" class="img-fluid rounded-start" alt="Autor">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${autor.nombre}"></h5><br>
                            <ul>
                                <li sec:authorize="hasRole('ADMIN')" th:text="'ALTA: ' + ${autor.alta}"></li>
                                <li sec:authorize="hasRole('ADMIN')" th:text="'BAJA: ' + ${autor.baja}"></li>
                            </ul>
                            <div sec:authorize="hasRole('ADMIN')" class="form-group2 text-center">
                                <a th:if="${autor.baja != null}" th:href="@{/autores/alta(id=__${autor.id}__)}">
                                    <button type="button" class="btn btn-success btn-sm">Dar alta</button>
                                </a>
                                <a th:unless="${autor.baja != null}" th:href="@{/autores/baja(id=__${autor.id}__)}">
                                    <button type="button" class="btn btn-danger btn-sm">Dar baja</button>
                                </a>
                                <a th:href="@{/autores/modificar(id=__${autor.id}__)}">
                                    <button type="button" class="btn btn-warning btn-sm">Modificar</button>
                                </a>
                                <a th:href="@{/autores/eliminar(id=__${autor.id}__)}">
                                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                </a>
                                <!--<a sec:authorize="hasRole('ADMIN')" th:if="${autor.baja != null}" th:href="@{/autores/alta(id=__${autor.id}__)}" title="Alta"><i class="fa fa-arrow-up text-success"></i></a>-->
                                <!--<a sec:authorize="hasRole('ADMIN')" th:unless="${autor.baja != null}" th:href="@{/autores/baja(id=__${autor.id}__)}" title="Baja"><i class="fa fa-ban text-danger"></i></a>--> 
                                <!--<a sec:authorize="hasRole('ADMIN')" th:href="@{/autores/modificar-autor(id=__${autor.id}__)}" title="Modificar"><i class="fas fa-feather-alt text-warning"></i></a>-->
                                <!--<a sec:authorize="hasRole('ADMIN')" th:href="@{/autores/eliminar(id=__${autor.id}__)}" title="Eliminar"><i class="fas fa-archive text-danger"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor">
        <div class="contenedorHijo" th:each="libro : ${libros}">
            <div class="card mb-3 bg-dark text-white">
                <div class="row g-0">
                    <div class="col-md-4 imagen-card">
                        <img th:src="@{'/foto/libro/' + ${libro.id}}" class="img-fluid rounded-start" alt="Portada">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${libro.titulo}"></h5><br>
                            <ul>
                                <li th:text="'ISBN: ' + ${libro.isbn}"></li>
                                <li th:text="'AUTOR: ' + ${libro.autor.nombre}"></li>
                                <li th:text="'EDITORIAL: ' + ${libro.editorial.nombre}"></li>
                                <li th:text="'EJEMPLARES DISPONIBLES: ' + ${libro.ejemplaresRestantes}"></li>
                            </ul>
                            <div class="form-group2 text-center">
                                <a class="btn btn-warning" th:href="@{/libros/mostrar/__${libro.id}__}" role="button">Ver más</a>
                                <a sec:authorize="hasRole('ADMIN')" th:if="${libro.baja != null}" th:href="@{/libros/alta(id=__${libro.id}__)}" title="Alta"><i class="fa fa-arrow-up text-success"></i></a>
                                <a sec:authorize="hasRole('ADMIN')" th:unless="${libro.baja != null}" th:href="@{/libros/baja(id=__${libro.id}__)}" title="Baja"><i class="fa fa-ban text-danger"></i></a> 
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/libros/modificar(id=__${libro.id}__)}" title="Modificar"><i class="fas fa-feather-alt text-warning"></i></a>
                                <!--<a sec:authorize="hasRole('ADMIN')" th:href="@{/libros/eliminar(id=__${libro.id}__)}" title="Eliminar"><i class="fas fa-archive text-danger"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"
    ></script>
</body>
</html>