<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Libreria - Error</title>
    <head th:replace="/fragments/head :: head"></head>
</head>
<body class="bg-none bg-danger">
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <section class="centrar">
        <h2 class="text-center text-light" th:text="${codigo}"></h2>
        <p class="text-center text-light" th:text="${mensaje == null ? 'Intenta nuevamente' : mensaje}"></p>
        <a class="enlaces-sub d-flex justify-content-center" href="/">
            <button type="button" class="btn btn-danger btn-sm">Volver</button>
        </a>
    </section>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"
    ></script>
</body>
</html>