<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Libreria - Modificar editorial</title>
    <head th:replace="/fragments/head :: head"></head>
</head>

<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <a href="/editoriales">
        <i class="fas fa-arrow-left"></i>
    </a>

    <h1 class="mb-3">Modificar editorial</h1>

    <div class="d-flex justify-content-center">
        <div class="w-75 text-light d-flex justify-content-center">
            <div class="mb-3 d-flex justify-content-center">

                <form th:action="@{/editoriales/actualizar-editorial}" method="POST">

                    <p th:if="${error != null}" th:text="${error}" class="error"></p>

                    <input type="hidden" th:value="${editorial.id}" name="id">

                    <div class="mb-3">
                        <label for="nombre" class="col col-form-label">Nombre</label>
                        <div class="col-sm-10 w-100">
                            <input type="text" class="form-control" id="nombre" name="nombre" th:value="${editorial.nombre}"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="archivo" class="col col-form-label">Foto</label>
                        <div class="col-sm-10 w-100">
                            <input type="file" class="form-control" id="archivo" name="archivo"/>
                        </div>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </div>
                </form>

            </div>
            <div class="w-25">
                <div class="img-a-e">
                    <img th:if="${editorial.foto != null}" class="rounded mx-auto d-block" th:src="${'/foto/editorial/' + editorial.id}" width="180px" height="190px" alt="Imagen"/>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"
    ></script>
</body>
</html>