<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Libreria - Prestamos</title>
    <head th:replace="/fragments/head :: head"></head>
</head>
<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <h1 sec:authorize="hasRole('ROLE_USUARIO')" >Mis Prestamos</h1>
    <h1 sec:authorize="hasRole('ROLE_ADMIN')" >Lista Prestamos</h1>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="form-group2 centrar-boton text-center">
            <a href="/prestamos/registro" class="btn btn-dark" tabindex="-1" role="button">Agregar prestamo</a>
        </div>

        <div class="filtrar bg-dark text-white">
            <div>
                <h5>Buscar prestamo por Usuario</h5>
            </div>
            <div>
                <form action="/prestamos/mostrar" method="GET" enctype="multipart/form-data">

                    <select class="filtrar-select" name="idUsuario">
                        <option th:if="${usuarioSelected} == null" selected disabled value="">Todos</option>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.mail}"></option>
                    </select>

                    <div class="filtrar-boton">
                        <button th:if="${usuarioSelected} != null" type="submit" class="btn btn-dark" formaction="/prestamos/mostrar" formmethod="GET">Borrar filtro</button>
                        <button type="submit" class="btn btn-warning">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="contenedor">
        <div class="contenedorHijo" th:each="prestamo : ${prestamos}">
            <div class="card mb-3 bg-dark text-white">
                <div class="row g-0">
                    <div>
                        <div class="card-body">
                            <ul class="lista-prestamos">
                                <strong class="text-center text-success" th:if="${prestamo.baja == null}" th:text="'ACTIVO'"></strong>
                                <strong class="text-center text-danger" th:unless="${prestamo.baja == null}" th:text="'INACTIVO'"></strong>
                                <li sec:authorize="hasRole('ADMIN')" th:text="'USUARIO: ' + ${prestamo.usuario.mail}"></li>
                                <li th:text="'FECHA PRESTAMO: ' + ${prestamo.fechaPrestamo}"></li>
                                <li th:text="'FECHA DEVOLUCION: ' + ${prestamo.fechaDevolucion}"></li>
                                <li th:text="'LIBRO: ' + ${prestamo.libro.titulo}"></li>
                                <li th:text="'AUTOR: ' + ${prestamo.libro.autor.nombre}"></li>
                                <li th:text="'EDITORIAL: ' + ${prestamo.libro.editorial.nombre}"></li>
                                <li sec:authorize="hasRole('ADMIN')" th:text="'ALTA: ' + ${prestamo.alta}"></li>
                                <li sec:authorize="hasRole('ADMIN')" th:text="'BAJA: ' + ${prestamo.baja}"></li>
                            </ul>

                            <div sec:authorize="hasRole('ADMIN')" class="text-center">
                                <a th:if="${prestamo.baja != null}" th:href="@{/prestamos/alta(id=__${prestamo.id}__)}">
                                    <button type="button" class="btn btn-success btn-sm">Dar alta</button>
                                </a>
                                <a th:unless="${prestamo.baja != null}" th:href="@{/prestamos/baja(id=__${prestamo.id}__)}">
                                    <button type="button" class="btn btn-danger btn-sm">Dar baja</button>
                                </a>
                                <a th:href="@{/prestamos/modificar(id=__${prestamo.id}__)}">
                                    <button type="button" class="btn btn-warning btn-sm">Modificar</button>
                                </a>
                                <a th:href="@{/prestamos/eliminar(id=__${prestamo.id}__)}">
                                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"
    ></script>
</body>
</html>