<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Libreria - Registro</title>
    <head th:replace="/fragments/head :: head"></head>
</head>

<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <h1 class="mb-3">Registrate</h1>

    <div class="d-flex justify-content-center">
        <div class="w-75 text-light d-flex justify-content-center">
            <div class="mb-3">

                <form th:action="@{/registrar}" method="POST" enctype="multipart/form-data">

                    <p th:if="${error != null}" th:text="${error}" class="error"></p>

                    <div class="mb-3">
                        <label for="nombre" class="col col-form-label">Nombre</label>
                        <div class="col-sm-10 w-100">
                            <input type="text" class="form-control" id="nombre" name="nombre" th:value="${nombre}"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="apellido" class="col col-form-label">Apellido</label>
                        <div class="col-sm-10 w-100">
                            <input type="text" class="form-control" id="apellido" name="apellido" th:value="${apellido}"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="documento" class="col col-form-label">Documento</label>
                        <div class="col-sm-10 w-100">
                            <input type="text" class="form-control" id="documento" name="documento" th:value="${documento}"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="telefono" class="col col-form-label">Telefono</label>
                        <div class="col-sm-10 w-100">
                            <input type="text" class="form-control" id="telefono" name="telefono" th:value="${telefono}"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="sexo" class="col col-form-label">Sexo</label>
                        <div class="col-sm-10 w-100">
                            <select class="form-select" id="sexo" name="sexo">
                                <option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="idZona" class="col col-form-label">Zona</label>
                        <div class="col-sm-10 w-100">
                            <select class="form-select" id="idZona" name="idZona">
                                <option th:each="zona : ${zonas}" th:value="${zona.id}" th:text="${zona.nombre}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="archivo" class="col col-form-label">Foto</label>
                        <div class="col-sm-10 w-100">
                            <input type="file" class="form-control" id="archivo" name="archivo" th:value="${archivo}"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="mail" class="col col-form-label">E-mail</label>
                        <div class="col-sm-10 w-100">
                            <input type="email" class="form-control" id="mail" name="mail" th:value="${mail}"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="clave" class="col col-form-label">Contraseña</label>
                        <div class="col-sm-10 w-100">
                            <input type="password" class="form-control" id="clave" name="clave" th:value="${clave}"/>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="clave2" class="col col-form-label">Repetir Contraseña</label>
                        <div class="col-sm-10 w-100">
                            <input type="password" class="form-control" id="clave2" name="clave2" th:value="${clave2}"/>
                        </div>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto boton-libro">
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"
    ></script>
</body>
</html>