<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Libreria - Usuarios</title>
    <head th:replace="/fragments/head :: head"></head>
</head>
<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h1>Lista Usuarios</h1>

        <div class="form-group2 centrar-boton text-center">
            <a href="/registro" class="btn btn-dark" tabindex="-1" role="button">Agregar usuario</a>
        </div>

        <div>
            <div class="filtrar bg-dark text-white">
                <div>
                    <h5>Buscar usuario</h5>
                </div>
                <div>
                    <form action="/usuarios" method="GET" enctype="multipart/form-data">
                        <select class="filtrar-select" name="idUsuario">
                            <option selected>Todos</option>
                            <option th:each="usuario : ${usuariosLista}" th:value="${usuario.id}" th:text="${usuario.mail}" th:selected="${usuarioSelected != null && usuario.id == usuarioSelected.id}"></option>
                        </select>
                        <div class="filtrar-boton">
                            <button type="submit" class="btn btn-warning">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="contenedor">
            <div class="contenedorHijo" th:each="usuario : ${usuarios}">
                <div class="card mb-3 bg-dark text-white">
                    <div class="row g-0">
                        <div class="col-md-4 imagen-card">
                            <img th:src="@{'/foto/usuario/' + ${usuario.id}}" class="img-fluid rounded-start" alt="Foto usuario">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <strong class="text-center text-success" th:if="${usuario.baja == null}" th:text="'ACTIVO '"></strong>
                                <strong class="text-center text-danger" th:unless="${usuario.baja == null}" th:text="'INACTIVO '"></strong>

                                <a th:if="${usuario.baja != null}" th:href="@{/usuario/alta(id=__${usuario.id}__)}" title="Dar de Alta"><i class="fa fa-arrow-up text-success"></i></a>
                                <a th:unless="${usuario.baja != null}" th:href="@{/usuario/baja(id=__${usuario.id}__)}" title="Dar de Baja"><i class="fa fa-arrow-down text-danger"></i></a> 

                                <a th:if="${usuario.rol} != ${rolAdmin}" th:href="@{/usuario/cambiar-rol(id=__${usuario.id}__)}" title="Cambiar a Administrador"><i class="fa fa-star text-warning"></i></a>
                                <a th:unless="${usuario.rol} != ${rolAdmin}" th:href="@{/usuario/cambiar-rol(id=__${usuario.id}__)}" title="Cambiar a Usuario"><i class="fa fa-user text-primary"></i></a> 

                                <a th:href="@{/usuario/editar-perfil(id=__${usuario.id}__)}" title="Modificar"><i class="fas fa-feather-alt text-warning"></i></a>

                                <ul class="lista-prestamos">
                                    <li class="fw-bold" th:text="'ROL: ' + ${usuario.rol}"></li>
                                    <li th:text="'USUARIO: ' + ${usuario.mail}"></li>
                                    <li th:text="'NOMBRE: ' + ${usuario.nombre}"></li>
                                    <li th:text="'APELLIDO: ' + ${usuario.apellido}"></li>
                                    <li th:text="'DOCUMENTO: ' + ${usuario.documento}"></li>
                                    <li th:text="'TELEFONO: ' + ${usuario.telefono}"></li>
                                    <li th:text="'SEXO: ' + ${usuario.sexo}"></li>
                                    <li th:text="'ZONA: ' + ${usuario.zona.nombre}"></li>
                                    <li th:text="'ALTA: ' + ${usuario.alta}"></li>
                                    <li th:text="'BAJA: ' + ${usuario.baja}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script th:replace="/fragments/script :: script"></script>
</body>
</html>